.destination_box{
    text-align: center;
    a{
        font-size: 1.6rem;
        color: $text_color;
    }
    figure{
        position: relative;
        overflow: hidden;
        border-radius: 0.8rem;
        img{
            height: 435px;
            object-fit: cover;
            width: 100%;
        }
    }
    figcaption{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0,0,0,0.5775560224089635) 0%, rgba(255,255,255,0) 100%);
        color: #fff;
        display: flex;
        align-items: end;
        justify-content: center;
        padding-bottom: 2rem;
        h3{
            font-size: 3.2rem;
            font-weight: 600;
            color: #fff;
        }
    }
    p{
        margin-top: 2rem;
    }
    .btn_theme2_outline{
        margin-top: 1rem;
    }
    
}
